name = "usad-competition-management-backend"
main = "src/index.ts"
compatibility_date = "2025-09-28"
compatibility_flags = [ "streams_enable_constructors" ]
type = "module"

[[d1_databases]]
binding = "DB"
database_name = "usad-main-db"
database_id = "${database_id}"