name = "usad-competition-management-backend"
main = "src/index.ts"
compatibility_date = "2025-09-28"
compatibility_flags = [ "nodejs_compat" ]

[[hyperdrive]]
binding = "HYPERDRIVE"
id = "${hyperdrive_id}"

[[r2_buckets]]
binding = 'USAD_BUCKET'
bucket_name = 'usad-bucket'

[vars]
DASHBOARD_URL="https://dashboard-alpha-nine-87.vercel.app"
FIELD_OPS_URL="https://field-ops-mu.vercel.app"
REGISTRATION_URL="https://registration-chi-rose.vercel.app"